*{margin:0; padding:0; box-sizing: border-box;}*
p {
    padding: 5px 5px;
    font-family: arial;
    line-height: 20px;
}
.conteudo {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    height: 1000px;
    margin: 0 auto;
    align-items: center;
    
}
.filtro {
    width: 100%;
    height: 120px;
    background-color: skyblue;
    margin-top:30px;
}

.grid_funcionario {
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap:50px;
    width: 80%;
}
.grid_funcionario > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D1D1D1;
    padding: 30px 10px;
}
.grid_funcionario > div >img {
    width:100px;
    height: 100px;
    border-radius: 80px;
}

.descricao {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.descricao img {
    height: 20px;
}