*{margin:0; padding:0; box-sizing: border-box;}*

body {
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,213,186,0.6026785714285714) 0%, rgba(0,212,255,1) 100%);
}
/*Cabeçalho*/
nav {
    width:100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;

}
ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width:800px;
    min-width:600px
}
li {
    
    list-style: none;
}
li a {
    text-decoration: none;
    color:black;
    font-size:20px;
    font-family: arial;
    padding:8px 20px;
    border-radius:18px;
}
li a:hover {
    background-color: rgba(82,231,179,.6);
    color: lightgrey;
}
.logo_empresa  {
    width:400px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
.logo {
    width:90px;
    padding: 5px 10px;
}

/*Login*/
main {
    width: 100%;
    height: 90vh;
    display: grid;
    place-content: center;
}
.login_funcionario {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width:380px;
    height: 380px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,213,186,0.6026785714285714) 0%, rgba(10,106,100,1) 0%, rgba(36,202,236,1) 100%);
    border-radius: 50px;
    padding:10px;
}
.login_funcionario > * {
    padding:4px;
}
p {
    color:white;
    font-family: arial;
}
input {
    width:300px;
    height: 30px;
    border-bottom: 1px solid white;
    border:1px solid transparent;
    
}
.aviso {
    width:90%;
    text-align: justify;
    font-size: 14px;
}
.aviso > p {
    font-size:5px;
}

h3 {
    color:#00FFF7;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
}

.email {
    width:90%;
}
.senha {
    width: 90%;
}